.grid-table {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: sans-serif;

  .header-row,
  .data-row {
    display: flex;
  }

  .cell {
    padding: 4px;
    box-sizing: border-box;
    width: 5rem;
    justify-content: center;
    text-align: center;
  }

  .header {
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
  }

  .add-btn {
    margin-top: 10px;
  }
}